header {
	
}

body {
	background-color: #000033;
}

li {
	list-style: none;
}

.topimage img {
	width: 100%;
	min-width: 1100px;
	height: auto;
	margin: 0px;
	padding: 0px;
	vertical-align: bottom;	
}

.textdeco {
	color: #cccccc;
	text-decoration: none;
}

.menu {
	float: left;
	width: 100%;
}

.menu ul {
	width: 1100px;
	min-width: 805px;
	margin: 0px auto;
	padding: 0px;
	height: auto;
}

.menu li {
	float: left;
	padding: 20px 30px;
	margin: 0px 15px;
	font-size: 24px;
	color: #cccccc;
}

hr {
	margin: 0px;
	padding: 0px;
	border: 1px solid transparent;
}

.sponsers {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	min-width: 1100px;
}

.name {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	min-width: 1100px;
	height: 20px;

	text-align: center;
	font-size: 12px;
	color: #cccccc;
}

.sponsers ul {
	width: 1030px;
	min-width: 805px;
	margin: 10px auto;
	padding: 0px;
	height: auto;
}

.sponsers li {
	float: left;
	padding: 0px 0px;
	margin: 0px 13px;
}



footer {
	height: 40px;
	background-color: #cccccc;
	clear: left;
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	min-width: 1100px;
}

.copylight {
	font-size: 18px;
	color: black;
	text-align: center;
	padding: 7px;
}








